$base-color: hsl(77, 2%, 22%);
$main-font: normal 30px 'Source Sans Pro';

#page-wrapper {
	background-color: $base-color;
	text-align: center;
	width: 100%;
	height: 100vh;
	
	table {
		display: inline-block;
		position: relative;
		margin: 0 auto;
		top: 100px;
		font: $main-font;
		color: aliceblue;
		border: 2px solid cornflowerblue;
	}
	
	* {
		border: none;
		padding: 10px;
	}
}

#history {
	display: inline-block;
	position: relative;
	top: 150px;
	font: $main-font;
	color: aliceblue;
}